// Importamos
@charset "utf-8";

// Iportamos variables que vayamos a usar de Bulma si queremos
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';

// Mis FUENTES
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
$family-sans-serif: 'Saira', sans-serif;

// Importamos el resto de Bulma
@import 'node_modules/bulma/bulma.sass';

// Centramos Los contenidos de la navbar
.app-title {
  width: 100%;
  justify-content: center;
}

.navbar-burger {
   height: auto;
}

// Centramos solo en Desktop
@media screen and (min-width: $desktop){
  .navbar-start{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }
}
// Elementos a cambiar