// Importamos
@charset "utf-8";

// MIS FUENTES
// @import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap");
$family-sans-serif: 'Saira', sans-serif;

// MIS COLORES
$info: #17a2b8;

// Nuevos colores y mapas de colores
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
// Actualizmos el mapa de colores
@import 'node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
  'github': (
    $github,
    $github-invert,
  ),
  'linkedin': (
    $linkedin,
    $linkedin-invert,
  ),
);
$colors: map-merge($colors, $addColors);


// RESTO DE BULMA
@import 'node_modules/bulma/bulma.sass';


// MIS ESTILOS CSS
// Transiciones suaves de scroll
html {
  scroll-behavior: smooth;
}


// Navbar
// Centramos Los contenidos de la navbar
.app-title {
  width: 100%;
  justify-content: center;
}

// Centramos el burguer
.navbar-burger {
   height: auto;
}

// Centramos solo en Desktop los items del navbar
@media screen and (min-width: $desktop){
  .navbar-start{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }
}

// Sección Hero
.hero {
  position: relative;
  width: 100%;
  padding-top: 25vh;
  margin-bottom: 70px;
  background-size: cover;
  background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 36%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url('/assets/images/hero.jpg') no-repeat center center scroll;
}
.hero:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100%
  );
  opacity: 0.8;
}

// Desplazamiento de la imagen
.hero .mobile-image {
  margin-bottom: -158px;
  max-width: 100%;
}

#sobre-nosotros {
  padding: 15vh 0;
}

#precio {
  padding: 15vh 0;
}

// Galeria
#galeria {
  padding: 15vh 0;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100%
  );
}

// Precio
.price-box {
  color: #17a2b8;
  transition: 0.5s all ease;
}
.price-box:hover {
  box-shadow: 0 0 50px -15px #4d43c6;
}

.price-box .price-header {
  padding: 40px;
  background: linear-gradient(
    45deg,
    rgba(72, 44, 191, 1) 0%,
    rgba(106, 198, 240, 1) 100%
  );
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s all ease;
}
.price-box .price-header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f3fc;
  z-index: -1;
  transition: 0.5s all ease;
}
.price-box:hover .price-header {
  color: #fff;
}
.price-box:hover .price-header:before {
  opacity: 0;
}

// Contacto
.subscribe-area {
  padding: 15vh 0;
  background: url('/assets/images/subscribe-bg.jpg') no-repeat scroll center center / cover;
}

.subscribe-form {
  background-color: #fff;
  padding: 60px;
  border-radius: 5px;
}

// Footer
.footer {
  padding: 2rem 1.5rem 1rem;
}

