// Importamos
@charset "utf-8";

// Iportamos variables que vayamos a usar de Bulma si queremos
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';

// Mis FUENTES
$family-sans-serif: 'Saira', sans-serif;

// Importamos el resto de Bulma
@import 'node_modules/bulma/bulma.sass';

html {
  scroll-behavior: smooth;
}


// Centramos Los contenidos de la navbar
.app-title {
  width: 100%;
  justify-content: center;
}

.navbar-burger {
   height: auto;
}

// Centramos solo en Desktop
@media screen and (min-width: $desktop){
  .navbar-start{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }
}
// Elementos a cambiar